@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptRJTieMYPNBAK21_rBDxA.ttf) format('truetype');
}
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptRMTieMYPNBAK219gtm1On4LQ.ttf) format('truetype');
}
