@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNR8aevHg.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/1Ptyg83HX_SGhgqO0yLcmjzUAuWexXRW8aevHg.ttf) format('truetype');
}
